<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="banco.Properties.Settings.Banco1_3ConnectionString"
            connectionString="Data Source=DESKTOP-NJSKJPR\SQLEXPRESS;Initial Catalog=Banco1_3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>